<html op="news">
<head>
	<meta name="referrer" content="origin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/new.css">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="rss">
	<title>Hacker News</title>
</head>
<body>
	<center>
		<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
			<tr>
				<td bgcolor="#ff6600">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
						<tr>
							<td style="width:18px;padding-right:4px">
								<a href="https://news.ycombinator.com">
									<img src="/static/img/y18.gif" width="18" height="18" style="border:1px white solid;"></a>
							</td>
							<td style="line-height:12pt; height:10px;">
								<span class="pagetop"> <b class="hnname"><a href="news">Hacker News</a></b> 
									<a href="newest">new</a>
									|
									<a href="newcomments">comments</a>
									|
									<a href="show">show</a>
									|
									<a href="ask">ask</a>
									|
									<a href="jobs">jobs</a>
									|
									<a href="submit">submit</a>
								</span>
							</td>
							<td style="text-align:right;padding-right:4px;">
								<span class="pagetop">
									<a href="login?goto=news">login</a>
								</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="height:10px"></tr>
			<tr>
				<td>
					<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
						<tr class='athing' id='14898350'>
							<td align="right" valign="top" class="title">
								<span class="rank">1.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14898350' href='vote?id=14898350&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://github.com/dthree/mailit" class="storylink">Mailit: A Tiny Drop-In REST API to Send Emails</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=github.com">
										<span class="sitestr">github.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14898350">25 points</span>
								by
								<a href="user?id=robinj6" class="hnuser">robinj6</a>
								<span class="age">
									<a href="item?id=14898350">2 hours ago</a>
								</span>
								<span id="unv_14898350"></span>
								|
								<a href="hide?id=14898350&amp;goto=news">hide</a>
								|
								<a href="item?id=14898350">7&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896255'>
							<td align="right" valign="top" class="title">
								<span class="rank">2.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896255' href='vote?id=14896255&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://www.npr.org/sections/health-shots/2017/07/31/540565526/scientists-edge-closer-to-elusive-lab-test-for-chronic-fatigue-syndrome" class="storylink">
									Scientists Edge Closer To Lab Test For Chronic Fatigue Syndrome
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=npr.org">
										<span class="sitestr">npr.org</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896255">232 points</span>
								by
								<a href="user?id=iamjeff" class="hnuser">iamjeff</a>
								<span class="age">
									<a href="item?id=14896255">10 hours ago</a>
								</span>
								<span id="unv_14896255"></span>
								|
								<a href="hide?id=14896255&amp;goto=news">hide</a>
								|
								<a href="item?id=14896255">129&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14894653'>
							<td align="right" valign="top" class="title">
								<span class="rank">3.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14894653' href='vote?id=14894653&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://tenso.rs/demos/fast-neural-style/" class="storylink">Show HN: TensorFire</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=tenso.rs">
										<span class="sitestr">tenso.rs</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14894653">448 points</span>
								by
								<a href="user?id=antimatter15" class="hnuser">antimatter15</a>
								<span class="age">
									<a href="item?id=14894653">14 hours ago</a>
								</span>
								<span id="unv_14894653"></span>
								|
								<a href="hide?id=14894653&amp;goto=news">hide</a>
								|
								<a href="item?id=14894653">73&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897090'>
							<td align="right" valign="top" class="title">
								<span class="rank">4.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897090' href='vote?id=14897090&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://spectrum.ieee.org/aerospace/satellites/is-there-a-giant-planet-lurking-beyond-pluto" class="storylink">
									Race to discover Planet Nine using astronomy and new computational techniques
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=ieee.org">
										<span class="sitestr">ieee.org</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897090">98 points</span>
								by
								<a href="user?id=sohkamyung" class="hnuser">sohkamyung</a>
								<span class="age">
									<a href="item?id=14897090">6 hours ago</a>
								</span>
								<span id="unv_14897090"></span>
								|
								<a href="hide?id=14897090&amp;goto=news">hide</a>
								|
								<a href="item?id=14897090">34&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897814'>
							<td align="right" valign="top" class="title">
								<span class="rank">5.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897814' href='vote?id=14897814&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://csvelocity.wordpress.com/2017/07/27/why-i-choose-delphi/" class="storylink">Why I Choose Delphi</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=csvelocity.wordpress.com">
										<span class="sitestr">csvelocity.wordpress.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897814">124 points</span>
								by
								<a href="user?id=fenesiistvan" class="hnuser">fenesiistvan</a>
								<span class="age">
									<a href="item?id=14897814">4 hours ago</a>
								</span>
								<span id="unv_14897814"></span>
								|
								<a href="hide?id=14897814&amp;goto=news">hide</a>
								|
								<a href="item?id=14897814">94&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896455'>
							<td align="right" valign="top" class="title">
								<span class="rank">6.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896455' href='vote?id=14896455&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://github.com/rep-movsd/see-phit" class="storylink">Show HN: Compile-time HTML parsing in C++14</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=github.com">
										<span class="sitestr">github.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896455">137 points</span>
								by
								<a href="user?id=rep_movsd" class="hnuser">rep_movsd</a>
								<span class="age">
									<a href="item?id=14896455">9 hours ago</a>
								</span>
								<span id="unv_14896455"></span>
								|
								<a href="hide?id=14896455&amp;goto=news">hide</a>
								|
								<a href="item?id=14896455">45&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897636'>
							<td align="right" valign="top" class="title">
								<span class="rank">7.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897636' href='vote?id=14897636&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://techcrunch.com/2017/07/31/googles-native-ad-blocker-for-chrome-shows-up-in-android-developer-build/" class="storylink">
									Google’s native ad blocker for Chrome shows up in Android developer build
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=techcrunch.com">
										<span class="sitestr">techcrunch.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897636">51 points</span>
								by
								<a href="user?id=r721" class="hnuser">r721</a>
								<span class="age">
									<a href="item?id=14897636">5 hours ago</a>
								</span>
								<span id="unv_14897636"></span>
								|
								<a href="hide?id=14897636&amp;goto=news">hide</a>
								|
								<a href="item?id=14897636">30&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896153'>
							<td align="right" valign="top" class="title">
								<span class="rank">8.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896153' href='vote?id=14896153&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://techcrunch.com/2017/07/31/fcc-says-its-cybersecurity-measures-to-prevent-ddos-attacks-must-remain-secret" class="storylink">
									FCC says its cybersecurity measures to prevent DDoS attacks must remain secret
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=techcrunch.com">
										<span class="sitestr">techcrunch.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896153">163 points</span>
								by
								<a href="user?id=janober" class="hnuser">janober</a>
								<span class="age">
									<a href="item?id=14896153">10 hours ago</a>
								</span>
								<span id="unv_14896153"></span>
								|
								<a href="hide?id=14896153&amp;goto=news">hide</a>
								|
								<a href="item?id=14896153">21&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896367'>
							<td align="right" valign="top" class="title">
								<span class="rank">9.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896367' href='vote?id=14896367&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://users.rust-lang.org/t/announcing-the-http-crate/12123" class="storylink">Announcing the `http` crate</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=rust-lang.org">
										<span class="sitestr">rust-lang.org</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896367">153 points</span>
								by
								<a href="user?id=JoshTriplett" class="hnuser">JoshTriplett</a>
								<span class="age">
									<a href="item?id=14896367">10 hours ago</a>
								</span>
								<span id="unv_14896367"></span>
								|
								<a href="hide?id=14896367&amp;goto=news">hide</a>
								|
								<a href="item?id=14896367">29&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897512'>
							<td align="right" valign="top" class="title">
								<span class="rank">10.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897512' href='vote?id=14897512&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://github.com/jagregory/abrash-black-book" class="storylink">Michael Abrash's Graphics Programming Black Book</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=github.com">
										<span class="sitestr">github.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897512">55 points</span>
								by
								<a href="user?id=cmsimike" class="hnuser">cmsimike</a>
								<span class="age">
									<a href="item?id=14897512">5 hours ago</a>
								</span>
								<span id="unv_14897512"></span>
								|
								<a href="hide?id=14897512&amp;goto=news">hide</a>
								|
								<a href="item?id=14897512">3&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897764'>
							<td align="right" valign="top" class="title">
								<span class="rank">11.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897764' href='vote?id=14897764&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://www.theatlantic.com/business/archive/2017/07/decline-american-laundromat-gentrification/535257/" class="storylink">The Decline of the American Laundromat</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=theatlantic.com">
										<span class="sitestr">theatlantic.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897764">39 points</span>
								by
								<a href="user?id=romeoEtJoliet" class="hnuser">romeoEtJoliet</a>
								<span class="age">
									<a href="item?id=14897764">4 hours ago</a>
								</span>
								<span id="unv_14897764"></span>
								|
								<a href="hide?id=14897764&amp;goto=news">hide</a>
								|
								<a href="item?id=14897764">44&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896261'>
							<td align="right" valign="top" class="title">
								<span class="rank">12.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896261' href='vote?id=14896261&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://fortune.com/2015/09/09/the-siege-of-herbalife/" class="storylink">
									One Billion Dollars Short, Bill Ackman, and the Siege Of Herbalife (2015)
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=fortune.com">
										<span class="sitestr">fortune.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896261">101 points</span>
								by
								<a href="user?id=lawrenceyan" class="hnuser">lawrenceyan</a>
								<span class="age">
									<a href="item?id=14896261">9 hours ago</a>
								</span>
								<span id="unv_14896261"></span>
								|
								<a href="hide?id=14896261&amp;goto=news">hide</a>
								|
								<a href="item?id=14896261">65&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14895121'>
							<td align="right" valign="top" class="title">
								<span class="rank">13.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14895121' href='vote?id=14895121&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://aeon.co/ideas/its-not-that-your-teeth-are-too-big-your-jaw-is-too-small" class="storylink">Why Are Human Teeth So Messed Up?</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=aeon.co">
										<span class="sitestr">aeon.co</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14895121">150 points</span>
								by
								<a href="user?id=drchip" class="hnuser">drchip</a>
								<span class="age">
									<a href="item?id=14895121">10 hours ago</a>
								</span>
								<span id="unv_14895121"></span>
								|
								<a href="hide?id=14895121&amp;goto=news">hide</a>
								|
								<a href="item?id=14895121">55&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897677'>
							<td align="right" valign="top" class="title">
								<span class="rank">14.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897677' href='vote?id=14897677&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://electrek.co/2017/07/31/mercedes-kills-electric-b-class/" class="storylink">Mercedes kills their only electric car</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=electrek.co">
										<span class="sitestr">electrek.co</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897677">33 points</span>
								by
								<a href="user?id=prostoalex" class="hnuser">prostoalex</a>
								<span class="age">
									<a href="item?id=14897677">5 hours ago</a>
								</span>
								<span id="unv_14897677"></span>
								|
								<a href="hide?id=14897677&amp;goto=news">hide</a>
								|
								<a href="item?id=14897677">6&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897209'>
							<td align="right" valign="top" class="title">
								<span class="rank">15.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897209' href='vote?id=14897209&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://www.interviewcake.com/article/python/data-structures-coding-interview" class="storylink">Data Structures for Coding Interviews</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=interviewcake.com">
										<span class="sitestr">interviewcake.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897209">233 points</span>
								by
								<a href="user?id=sharjeelsayed" class="hnuser">sharjeelsayed</a>
								<span class="age">
									<a href="item?id=14897209">7 hours ago</a>
								</span>
								<span id="unv_14897209"></span>
								|
								<a href="hide?id=14897209&amp;goto=news">hide</a>
								|
								<a href="item?id=14897209">107&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897457'>
							<td align="right" valign="top" class="title">
								<span class="rank">16.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897457' href='vote?id=14897457&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://www.hntrends.com/2017/july.html" class="storylink">July 2017 Hacker News Hiring Trends</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=hntrends.com">
										<span class="sitestr">hntrends.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897457">51 points</span>
								by
								<a href="user?id=sndean" class="hnuser">sndean</a>
								<span class="age">
									<a href="item?id=14897457">6 hours ago</a>
								</span>
								<span id="unv_14897457"></span>
								|
								<a href="hide?id=14897457&amp;goto=news">hide</a>
								|
								<a href="item?id=14897457">5&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897774'>
							<td align="right" valign="top" class="title">
								<span class="rank">17.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897774' href='vote?id=14897774&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://www.righto.com/2014/02/ascii-bernanke-wikileaks-photographs.html?m=1" class="storylink">
									Hidden surprises in the Bitcoin blockchain and how they are stored
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=righto.com">
										<span class="sitestr">righto.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897774">27 points</span>
								by
								<a href="user?id=astdb" class="hnuser">astdb</a>
								<span class="age">
									<a href="item?id=14897774">4 hours ago</a>
								</span>
								<span id="unv_14897774"></span>
								|
								<a href="hide?id=14897774&amp;goto=news">hide</a>
								|
								<a href="item?id=14897774">8&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896917'>
							<td align="right" valign="top" class="title">
								<span class="rank">18.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896917' href='vote?id=14896917&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://techcrunch.com/2017/07/31/several-departures-at-venture-firm-kleiner-perkins" class="storylink">Several departures at Kleiner Perkins</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=techcrunch.com">
										<span class="sitestr">techcrunch.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896917">44 points</span>
								by
								<a href="user?id=janober" class="hnuser">janober</a>
								<span class="age">
									<a href="item?id=14896917">8 hours ago</a>
								</span>
								<span id="unv_14896917"></span>
								|
								<a href="hide?id=14896917&amp;goto=news">hide</a>
								|
								<a href="item?id=14896917">discuss</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14894216'>
							<td align="right" valign="top" class="title">
								<span class="rank">19.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14894216' href='vote?id=14894216&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://android-developers.googleblog.com/2017/07/announcing-nearby-connections-20-fully.html" class="storylink">
									Nearby Connections 2.0: offline high bandwidth peer to peer device communication
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=googleblog.com">
										<span class="sitestr">googleblog.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14894216">136 points</span>
								by
								<a href="user?id=AndrewDucker" class="hnuser">AndrewDucker</a>
								<span class="age">
									<a href="item?id=14894216">14 hours ago</a>
								</span>
								<span id="unv_14894216"></span>
								|
								<a href="hide?id=14894216&amp;goto=news">hide</a>
								|
								<a href="item?id=14894216">45&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896257'>
							<td align="right" valign="top" class="title">
								<span class="rank">20.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896257' href='vote?id=14896257&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://techcrunch.com/2017/07/28/stitch-fix-has-confidentially-filed-for-an-ipo/" class="storylink">Stitch Fix has confidentially filed for an IPO</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=techcrunch.com">
										<span class="sitestr">techcrunch.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896257">30 points</span>
								by
								<a href="user?id=apsec112" class="hnuser">apsec112</a>
								<span class="age">
									<a href="item?id=14896257">7 hours ago</a>
								</span>
								<span id="unv_14896257"></span>
								|
								<a href="hide?id=14896257&amp;goto=news">hide</a>
								|
								<a href="item?id=14896257">discuss</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14894863'>
							<td align="right" valign="top" class="title">
								<span class="rank">21.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14894863' href='vote?id=14894863&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://news.nationalgeographic.com/2017/07/ocean-plastic-patch-south-pacific-spd/" class="storylink">
									Plastic Micro-Particle Patch Bigger Than Mexico Found in Pacific
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=nationalgeographic.com">
										<span class="sitestr">nationalgeographic.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14894863">151 points</span>
								by
								<a href="user?id=caio1982" class="hnuser">caio1982</a>
								<span class="age">
									<a href="item?id=14894863">13 hours ago</a>
								</span>
								<span id="unv_14894863"></span>
								|
								<a href="hide?id=14894863&amp;goto=news">hide</a>
								|
								<a href="item?id=14894863">92&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897923'>
							<td align="right" valign="top" class="title">
								<span class="rank">22.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897923' href='vote?id=14897923&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://arstechnica.com/tech-policy/2017/07/second-body-cam-video-of-baltimore-cops-manufacturing-evidence-discovered/?amp=1" class="storylink">
									Second body cam video of Baltimore cops manufacturing evidence discovered
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=arstechnica.com">
										<span class="sitestr">arstechnica.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897923">48 points</span>
								by
								<a href="user?id=xbmcuser" class="hnuser">xbmcuser</a>
								<span class="age">
									<a href="item?id=14897923">3 hours ago</a>
								</span>
								<span id="unv_14897923"></span>
								|
								<a href="hide?id=14897923&amp;goto=news">hide</a>
								|
								<a href="item?id=14897923">12&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14895409'>
							<td align="right" valign="top" class="title">
								<span class="rank">23.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14895409' href='vote?id=14895409&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://techcrunch.com/2017/07/31/spotify-vs-apple-music/?ncid=rss&amp;utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+Techcrunch+%28TechCrunch%29" class="storylink">Spotify preps to go public with 60M subscribers</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=techcrunch.com">
										<span class="sitestr">techcrunch.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14895409">71 points</span>
								by
								<a href="user?id=prostoalex" class="hnuser">prostoalex</a>
								<span class="age">
									<a href="item?id=14895409">12 hours ago</a>
								</span>
								<span id="unv_14895409"></span>
								|
								<a href="hide?id=14895409&amp;goto=news">hide</a>
								|
								<a href="item?id=14895409">44&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14896774'>
							<td align="right" valign="top" class="title">
								<span class="rank">24.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14896774' href='vote?id=14896774&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://www.nytimes.com/2017/07/31/technology/apple-vpn-china-dangerous-precedent.html" class="storylink">Apple’s Silence in China Sets a Dangerous Precedent</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=nytimes.com">
										<span class="sitestr">nytimes.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14896774">182 points</span>
								by
								<a href="user?id=tysone" class="hnuser">tysone</a>
								<span class="age">
									<a href="item?id=14896774">8 hours ago</a>
								</span>
								<span id="unv_14896774"></span>
								|
								<a href="hide?id=14896774&amp;goto=news">hide</a>
								|
								<a href="item?id=14896774">151&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14893846'>
							<td align="right" valign="top" class="title">
								<span class="rank">25.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14893846' href='vote?id=14893846&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://www.recode.net/2017/7/31/16037126/reddit-funding-200-million-valuation-steve-huffman-alexis-ohanian" class="storylink">Reddit raises $200M at a $1.8B valuation</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=recode.net">
										<span class="sitestr">recode.net</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14893846">348 points</span>
								by
								<a href="user?id=snew" class="hnuser">snew</a>
								<span class="age">
									<a href="item?id=14893846">15 hours ago</a>
								</span>
								<span id="unv_14893846"></span>
								|
								<a href="hide?id=14893846&amp;goto=news">hide</a>
								|
								<a href="item?id=14893846">360&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14897915'>
							<td align="right" valign="top" class="title">
								<span class="rank">26.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14897915' href='vote?id=14897915&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://lines.editfight.com/" class="storylink" rel="nofollow">Show HN: Social experiment with live textboxes</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=editfight.com">
										<span class="sitestr">editfight.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14897915">18 points</span>
								by
								<a href="user?id=penpapersw" class="hnuser">penpapersw</a>
								<span class="age">
									<a href="item?id=14897915">3 hours ago</a>
								</span>
								<span id="unv_14897915"></span>
								|
								<a href="hide?id=14897915&amp;goto=news">hide</a>
								|
								<a href="item?id=14897915">5&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14892602'>
							<td align="right" valign="top" class="title">
								<span class="rank">27.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14892602' href='vote?id=14892602&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://newatlas.com/desktop-metal-3d-printing/50654/" class="storylink">3D metal printing is about to go mainstream</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=newatlas.com">
										<span class="sitestr">newatlas.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14892602">354 points</span>
								by
								<a href="user?id=phr4ts" class="hnuser">phr4ts</a>
								<span class="age">
									<a href="item?id=14892602">17 hours ago</a>
								</span>
								<span id="unv_14892602"></span>
								|
								<a href="hide?id=14892602&amp;goto=news">hide</a>
								|
								<a href="item?id=14892602">153&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14894906'>
							<td align="right" valign="top" class="title">
								<span class="rank">28.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14894906' href='vote?id=14894906&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://blog.gridplus.io/scaling-blockchains-with-apache-kafka-814c85781c6" class="storylink">Scaling Blockchains with Apache Kafka</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=gridplus.io">
										<span class="sitestr">gridplus.io</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14894906">96 points</span>
								by
								<a href="user?id=nestlequ1k" class="hnuser">nestlequ1k</a>
								<span class="age">
									<a href="item?id=14894906">13 hours ago</a>
								</span>
								<span id="unv_14894906"></span>
								|
								<a href="hide?id=14894906&amp;goto=news">hide</a>
								|
								<a href="item?id=14894906">11&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14894769'>
							<td align="right" valign="top" class="title">
								<span class="rank">29.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14894769' href='vote?id=14894769&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="https://joyofelixir.com" class="storylink">Joy of Elixir</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=joyofelixir.com">
										<span class="sitestr">joyofelixir.com</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14894769">216 points</span>
								by
								<a href="user?id=GordonS" class="hnuser">GordonS</a>
								<span class="age">
									<a href="item?id=14894769">13 hours ago</a>
								</span>
								<span id="unv_14894769"></span>
								|
								<a href="hide?id=14894769&amp;goto=news">hide</a>
								|
								<a href="item?id=14894769">68&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class='athing' id='14893242'>
							<td align="right" valign="top" class="title">
								<span class="rank">30.</span>
							</td>
							<td valign="top" class="votelinks">
								<center>
									<a id='up_14893242' href='vote?id=14893242&amp;how=up&amp;goto=news'>
										<div class='votearrow' title='upvote'></div>
									</a>
								</center>
							</td>
							<td class="title">
								<a href="http://www.cliffc.org/blog/2017/07/30/introverts-emotional-processing-self-esteem-and-salary-negotiations/" class="storylink">
									Introverts, Emotional Processing, Self-Esteem and Salary Negotiations
								</a>
								<span class="sitebit comhead">
									(
									<a href="from?site=cliffc.org">
										<span class="sitestr">cliffc.org</span>
									</a>
									)
								</span>
							</td>
						</tr>
						<tr>
							<td colspan="2"></td>
							<td class="subtext">
								<span class="score" id="score_14893242">329 points</span>
								by
								<a href="user?id=19870213" class="hnuser">19870213</a>
								<span class="age">
									<a href="item?id=14893242">16 hours ago</a>
								</span>
								<span id="unv_14893242"></span>
								|
								<a href="hide?id=14893242&amp;goto=news">hide</a>
								|
								<a href="item?id=14893242">105&nbsp;comments</a>
							</td>
						</tr>
						<tr class="spacer" style="height:5px"></tr>
						<tr class="morespace" style="height:10px"></tr>
						<tr>
							<td colspan="2"></td>
							<td class="title">
								<a href="news?p=2" class="morelink" rel="nofollow">More</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					
					<table width="100%" cellspacing="0" cellpadding="1">
						<tr>
							<td bgcolor="#ff6600"></td>
						</tr>
					</table>
					<br>
					<center>
						<span class="yclinks">
							<a href="newsguidelines.html">Guidelines</a>
							|
							<a href="newsfaq.html">FAQ</a>
							|
							<a href="mailto:hn@ycombinator.com">Support</a>
							|
							<a href="https://github.com/HackerNews/API">API</a>
							|
							<a href="security.html">Security</a>
							|
							<a href="lists">Lists</a>
							|
							<a href="bookmarklet.html">Bookmarklet</a>
							|
							<a href="dmca.html">DMCA</a>
							|
							<a href="http://www.ycombinator.com/apply/">Apply to YC</a>
							|
							<a href="mailto:hn@ycombinator.com">Contact</a>
						</span>
						<br>
						<br>
						<form method="get" action="//hn.algolia.com/">
							Search:
							<input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
					</center>
				</td>
			</tr>
		</table>
	</center>
</body>
	
</html>
